:root {
    --light-contrast: rgb(179, 197, 185);
    --light-color: rgb(220, 224, 217);
    --dark-font: black;
    --dark-color: rgb(42, 100, 42);
}

body {
    background: var(--light-color);
    font-family: Montserrat, Arial, sans-serif;
    margin: 0 20px;
}

header {
    font-family: Lora, "Times New Roman", serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0 2rem;
    height: 6rem;
}

h1 {
    font-size: 1.65rem;
}

#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark-font);
}

#menu::before {
    content: "☰";
    color: var(--light-color);
}

#menu.show::before {
    content: "X";
    color: var(--light-color);
}

.menu-links {
    display: none;
}

.menu-links.show {
    display: flex;
    flex-direction: column;
    top: 5rem;
    right: 20px;
    left: 20px;
    position:absolute;
    background-color: var(--dark-color);
}

.menu-links a {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.menu-links a:hover {
    color: var(--dark-color);
    background: var(--light-color);
}

main {
    margin: 0 auto;
    max-width: 1400px;
}

.place-title, .card-title {
    font-variant: small-caps;
}

/* HOME PAGE FORMATTING */
.subheading {
    text-align: center;
}

.homepage-text {
    text-align: center;
    font-style: italic;

}

.place-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background: var(--light-contrast);
}

.place-title, .place-details {
    padding: 10px;
    margin: 0;
}

.place-card img {
    width: 300px;
}

figcaption {
    font-size: small;
    font-style: italic;
}

 /* HIKES PAGE FORMATTING */

.container {
    display: block;
    text-align: center;
}

legend {
    font-weight: bold;
}

#filter-parks, #sort-by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#sort-by {
    flex-direction: column;
}
.check-label {
    margin: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    margin: 5px;
    color: var(--dark-font);
    background-color: var(--light-contrast);
    height: 48px;
    transition: all 0.4s;
}

.button:active{
    background-color: var(--dark-color);
    color:white
}

.hike-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background: var(--light-contrast);
}

.hike-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.hike-card p {
    margin: 0;
}

.label {
    font-weight: bold;
}

.hike-desc {
    padding-top: 10px;
    font-style: italic;
}

/* SUGGESTION PAGE FORMATTING */

form {
    background-color: var(--light-contrast);
    padding: 30px;
    margin-bottom: 30px;
    display: block;
}

.form-label {
    font-weight: bold;
}

#park-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
}

#park-name input[type="radio"] {
    margin: 10px;
}

#park-name label {
    margin-right: 20px; 
}

#hike-name, #suggestion-comment {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#suggestion-comment {
    height: 150px;
}

#submit-suggestion {
    background-color: var(--light-color);
    color: var(--dark-font);
    width: 100%;
    margin: 0;
}

/* RESOURCES PAGE FORMATTING */

#resource-links .button {
    text-align: center;
    display: block;
    border: 1px groove var(--dark-color);
    align-content: center;
    text-decoration: none;
    margin: 20px 25%;
}

footer {
    font-family: Lora, "Times New Roman", serif;
    text-align: center;
    padding: 20px;
    background: var(--dark-color);
    color: var(--light-color);
}

 footer p {
    font-size: .75rem;
    margin: 0;
    padding: 0;
}