:root {
    --dark-color: rgb(13,54,146); /* #0D3692; */
    --contrast-color: rgb(255,235,67);
    --card-background-color: rgba(189,189,189,0.7);
    --light-color: white;
    --alt-light-color: rgb(189,189,189);
}

body {
    font-family: Montseerrat, Arial, sans serif;
    background-color: var(--alt-light-color);
    margin: 0 auto;
}

header {
    background: var(--dark-color);
    border-bottom: 1rem var(--contrast-color) solid;
    align-content: center;
    height: 80px;
}
h1 {
    color: var(--light-color);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.hero img {
    width: 100%;
    height: auto;
}

h2 {
    background-color: var(--contrast-color);
    text-align: center;
    margin: 0;
}

.card-details {
    padding: 10px;
}

.data-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label {
    grid-column: 1/2;
    text-align: right;
    padding: 3px;
    font-weight: bold;
}

.value {
    grid-column: 2/3;
    padding: 3px;
    text-align: left;
}

.weather-card {
    text-align: center;
}

.weather-card h2::after {
    content: " 🌤️";
    display: none;
}
.weather-card img {
    height: 80px;
}
.footer-details {
    background: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    align-content: center;
    height: 80px;
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 20px auto 1fr auto 20px;
        grid-template-rows: 20px auto 1fr auto 20px;
    }

    .hero {
        grid-column: 1/6;
        grid-row: 1/6;
    }

    .data-card, .weather-card {
        background-color: var(--card-background-color);
    }

    .data-card {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .weather-card {
        grid-column: 4/5;
        grid-row: 4/5;
        border-top: none;
    }

    .weather-card h2::after {
        display: inline;
    }

    .weather-card img {
        display: none;
    }
    
    h2 {
        text-align: center;
        padding: 10px 20px;
        font-size: 1.25rem;
    }

    .card-details {
        padding: 10px 10px 0 10px;
        font-size: .9rem;
    }
}