@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu {
        display: none;
    }

    .menu-links {
        display: flex;
        
    }
}

@media screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }    
}